{{- if or .Values.webhook.podMutatingWebhook.enabled .Values.webhook.pvcMutatingWebhook.enabled }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ template "topolvm.fullname" . }}-hook
  annotations:
    {{- if not .Values.webhook.caBundle }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ template "topolvm.fullname" . }}-mutatingwebhook
    {{- end }}
  labels:
    {{- include "topolvm.labels" . | nindent 4 }}
webhooks:
  {{- if .Values.webhook.podMutatingWebhook.enabled }}
  - name: pod-hook.{{ include "topolvm.pluginName" . }}
    admissionReviewVersions:
    - v1
    - v1beta1
    namespaceSelector:
      matchExpressions:
      - key: {{ include "topolvm.pluginName" . }}/webhook
        operator: NotIn
        values: ["ignore"]
      {{- with .Values.webhook.podMutatingWebhook.ignoreNamespaces }}
      - key: kubernetes.io/metadata.name
        operator: NotIn
        values:
          {{- toYaml . | nindent 10 }}
      {{- end }}
    {{- if .Values.webhook.podMutatingWebhook.objectSelector }}
    objectSelector:
      matchLabels:
        {{- range $key, $value := .Values.webhook.podMutatingWebhook.objectSelector }}
        {{ $key }}: {{ $value }}
        {{- end }}
    {{- end }}
    failurePolicy: Fail
    matchPolicy: Equivalent
    clientConfig:
      {{- with .Values.webhook.caBundle }}
      caBundle: {{ . }}
      {{- end }}
      service:
        namespace: {{ .Release.Namespace }}
        name: {{ template "topolvm.fullname" . }}-controller
        path: /pod/mutate
    rules:
    - apiGroups:
      - ""
      apiVersions:
      - v1
      operations:
      - CREATE
      resources:
      - pods
    sideEffects: None
  {{- end }}
  {{- if .Values.webhook.pvcMutatingWebhook.enabled }}
  - name: pvc-hook.{{ include "topolvm.pluginName" . }}
    admissionReviewVersions:
    - v1
    - v1beta1
    namespaceSelector:
      matchExpressions:
      - key: {{ include "topolvm.pluginName" . }}/webhook
        operator: NotIn
        values: ["ignore"]
      {{- with .Values.webhook.pvcMutatingWebhook.ignoreNamespaces }}
      - key: kubernetes.io/metadata.name
        operator: NotIn
        values:
          {{- toYaml . | nindent 10 }}
      {{- end }}
    {{- if .Values.webhook.pvcMutatingWebhook.objectSelector }}
    objectSelector:
      matchLabels:
        {{- range $key, $value := .Values.webhook.pvcMutatingWebhook.objectSelector }}
        {{ $key }}: {{ $value }}
        {{- end }}
    {{- end }}
    failurePolicy: Fail
    matchPolicy: Equivalent
    clientConfig:
      {{- with .Values.webhook.caBundle }}
      caBundle: {{ . }}
      {{- end }}
      service:
        namespace: {{ .Release.Namespace }}
        name: {{ template "topolvm.fullname" . }}-controller
        path: /pvc/mutate
    rules:
    - apiGroups:
      - ""
      apiVersions:
      - v1
      operations:
      - CREATE
      resources:
      - persistentvolumeclaims
    sideEffects: None
  {{- end }}
---
{{- end }}
