[Unit]
Description=lvmd for TopoLVM
Requires=setup-var.service setup-lvmd.service
After=setup-var.service setup-lvmd.service

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
ExecStartPre=/bin/mkdir -p /run/topolvm 
ExecStart=/opt/sbin/lvmd --volume-group=myvg --listen=/tmp/topolvm/lvmd.sock --spare=1

[Install]
WantedBy=multi-user.target
