# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Editors
*~
.*.swp
.#*
\#*#
/.vscode

# ignore go.sum
/go.sum

# ignore tools
/bin/protoc
/bin/protoc-gen-go
/bin/protoc-gen-doc
/include
