[Unit]
Description=lvmd for TopoLVM
Wants=lvm2-monitor.service
After=lvm2-monitor.service

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
ExecStartPre=/bin/mkdir -p /run/topolvm 
ExecStart=/opt/sbin/lvmd --listen=/run/topolvm/lvmd.sock

[Install]
WantedBy=multi-user.target
