apiVersion: v2
type: application

home: https://github.com/topolvm/topolvm
name: topolvm
description: Topolvm
version: 3.1.2
appVersion: 0.10.2
kubeVersion: ">=1.18.0-0"
sources:
  - https://github.com/topolvm/topolvm

dependencies:
  - name: cert-manager
    repository: https://charts.jetstack.io
    version: 1.3.1
    condition: cert-manager.enabled
