apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: topolvm-hook
  labels:
    app.kubernetes.io/name: topolvm-hook
webhooks:
  - name: hook.topolvm.cybozu.com
    failurePolicy: Fail
    clientConfig:
      caBundle: {{CA_BUNDLE}}
      service:
        namespace: kube-system
        name: topolvm-hook
        path: /mutate
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
