apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: topolvm-hook
  labels:
    app.kubernetes.io/name: topolvm-hook
webhooks:
  - name: hook.topolvm.cybozu.com
    clientConfig:
      url: https://localhost:9252/mutate
      caBundle: {{CA_BUNDLE}}
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
