{{ if and .Values.scheduler.enabled .Values.podSecurityPolicy.create }}
---
apiVersion: policy/v1
kind: PodSecurityPolicy
metadata:
  name: {{ template "topolvm.fullname" . }}-scheduler
  labels:
    {{- include "topolvm.labels" . | nindent 4 }}
spec:
  privileged: false
  allowPrivilegeEscalation: false
  volumes:
    - 'configMap'
    - 'emptyDir'
    - 'secret'
  hostNetwork: true
  runAsUser:
    rule: 'MustRunAsNonRoot'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  fsGroup:
    rule: 'MayRunAs'
    ranges:
      - min: 1
        max: 65535
  readOnlyRootFilesystem: true
---
{{ end }}
