apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Namespace }}:node
  labels:
    {{- include "topolvm.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch", "update", "patch"]
  - apiGroups: ["{{ include "topolvm.pluginName" . }}"]
    resources: ["logicalvolumes", "logicalvolumes/status"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csidrivers"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["*"]
    verbs: ["*"]
  - apiGroups:
      - ""
    resources: ["pods"]
    verbs: ["*"]
  - apiGroups:
      - "apps"
    resources: [ "daemonsets" ]
    verbs: [ "*" ]
  - apiGroups:
      - topolvm.io
    resources:
      - onlinesnapshotstorages
      - onlinesnapshotstorages/status
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs: [ "get", "list", "create", "patch", "watch", "delete" ]
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs: [ "get", "list", "create", "patch", "watch", "delete" ]