name: "e2e-k8s-daemonset-lvmd"
on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
  push:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
    branches:
      - "main"
jobs:
  e2e-k8s-daemonset-lvmd:
    name: "e2e-k8s-daemonset-lvmd"
    runs-on: "ubuntu-18.04"
    strategy:
      fail-fast: false
      matrix:
        kubernetes_versions: ["1.23.3", "1.22.2", "1.21.2"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
      STORAGE_CAPACITY: "true"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17"
      - name: cache go dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('go.sum', 'Makefile') }}
          restore-keys: |
            go-
      - name: cache e2e sidecar binaries
        uses: actions/cache@v3
        with:
          path: |
            e2e/tmpbin
          key: e2e-sidecars-${{ hashFiles('csi-sidecars.mk') }}
          restore-keys: |
            e2e-sidecars-
      - run: make -C e2e setup
      - run: make -C e2e daemonset-lvmd/create-vg
      - run: make -C e2e daemonset-lvmd/setup-minikube
      - run: make -C e2e daemonset-lvmd/launch-minikube
      - run: make -C e2e daemonset-lvmd/test
