on:
  workflow_call:
    inputs:
      test_scheduler_extender_type:
        type: string
      test_legacy:
        type: string

jobs:
  e2e-k8s:
    name: "e2e-k8s"
    runs-on: "ubuntu-22.04"
    strategy:
      fail-fast: false
      matrix:
        kubernetes_versions: ["1.34.3", "1.33.7", "1.32.11"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
      TEST_SCHEDULER_EXTENDER_TYPE: ${{ inputs.test_scheduler_extender_type }}
      TEST_LEGACY: ${{ inputs.test_legacy }}
    steps:
      - id: check
        run: |
          KUBERNETES_MINOR=$(echo "${{ matrix.kubernetes_versions }}" | cut -d'.' -f2)
          if [ "$KUBERNETES_MINOR" -le 32 ] && [ "$TEST_SCHEDULER_EXTENDER_TYPE" = "none" ]; then
            echo "Skipping test for Kubernetes version ${{ matrix.kubernetes_versions }} with scheduler extender type 'none'"
            echo "should_run=false" >> $GITHUB_OUTPUT
          else
            echo "should_run=true" >> $GITHUB_OUTPUT
          fi
      - if: steps.check.outputs.should_run == 'true'
        uses: actions/checkout@v6
      - if: steps.check.outputs.should_run == 'true'
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - if: steps.check.outputs.should_run == 'true'
        uses: actions/cache/restore@v5
        with:
          path: |
            bin
            test/e2e/bin
            test/e2e/topolvm.img
          key: e2e-cache-${{ github.sha }}
      - if: steps.check.outputs.should_run == 'true'
        run: touch test/e2e/topolvm.img # update timestamp not to rebuild image
      - if: steps.check.outputs.should_run == 'true'
        run: make -C test/e2e start-lvmd
      - if: steps.check.outputs.should_run == 'true'
        run: make -C test/e2e test
