name: "Lint Charts"

on:
  pull_request:
    paths:
      - "charts/**"
      - "ct.yaml"

jobs:
  lint:
    runs-on: "ubuntu-20.04"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Setup Go"
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

      - name: cache go dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('go.sum', 'Makefile') }}
          restore-keys: |
            go-

      - name: "Setup Tools"
        run: |
          make tools

      - name: "Run helm-docs"
        run: ./bin/helm-docs && git diff --no-patch --exit-code

      - name: "Set up chart-testing"
        uses: helm/chart-testing-action@v2.4.0

      - name: "Run chart-testing (lint)"
        run: ct lint --config ct.yaml
