name: "Release Charts"

on: "workflow_dispatch"

jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Configure Git"
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # This version is written in `charts/topolvm/README.md`,
      # so do not update it if not necessary.
      - name: "Install Helm"
        uses: azure/setup-helm@v4
        with:
          version: "v3.5.0"

      # Add depending repository for helm to avoid the error below.
      # `Error: no repository definition for https://charts.jetstack.io`
      # see: https://github.com/helm/chart-releaser-action/issues/74
      - name: "Add cert-manager repo for helm"
        run: |
          helm repo add cert-manager https://charts.jetstack.io

      - name: "Run chart-releaser"
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: .cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push Chart to GHCR
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/topolvm/charts
          done
