name: "Main"
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  build:
    name: "build"
    runs-on: "ubuntu-18.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - name: cache go dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('go.sum', 'Makefile') }}
          restore-keys: |
            go-
      - run: make setup
      - run: make check-uncommitted
      - run: make test
      - run: sudo -E env PATH=${PATH} go test -count=1 -race -v ./lvmd ./driver ./filesystem
      - run: make image

  example:
    name: "example"
    runs-on: "ubuntu-18.04"
    defaults:
      run:
        working-directory: "example"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - name: cache go dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('go.sum', 'Makefile') }}
          restore-keys: |
            go-
      - run: make setup
      - run: make run BUILD_IMAGE=true
